@import "./index.scss";

.phone-header {
  height: $headerHeight;
  background-color: $primaryLight;
  .container {
    display: grid;
    grid-template-columns: 50px 210px auto;
    grid-template-rows: 50px;
    max-width: $pageMaxWidth;
    height: 100%;
    margin: 0 auto;
    .leave-column {
      grid-column: 1 / 2;
    }
    .photo-column {
      grid-column: 2 / 3;
      padding: 5px 0 0 5px;
    }
  }
}
