@import "./index.scss";

.phone-videos {
  min-height: calc(100vh - $headerHeight);
  background-color: rgb(17, 17, 17);
  .videos-container {
    max-width: $pageMaxWidth;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    video {
      width: 384px;
      height: 288px;
      border-radius: 10px;
      margin: 10px;
      @include sp() {
        width: 320px;
        height: 240px;
      }
    }
    .buttons {
      width: 768px;
      margin: 0 auto;
      text-align: right;
      @include wideTab {
        width: 320px;
      }
      @include sp() {
        width: 320px;
      }
      button {
        .MuiSvgIcon-root {
          path {
            color: $white;
          }
        }
      }
    }
  }
}
