@import "./index.scss";

.dialog-profile-edit {
  .user-column {
    height: $headerHeight;
    padding: 5px;
    display: flex;
    @include hover();
    .name {
      line-height: 50px - 10px;
      margin-left: 5px;
    }
  }
}
