@import "../../index.scss";

$spacerHeight: 10px;
$bodyHeight: calc(100vh - ($headerHeight + $spacerHeight));

.rooms {
  background-color: $ghostwhite;
  .spacer {
    height: $spacerHeight;
  }
  .list {
    min-height: $bodyHeight;
    max-width: $pageMaxWidth;
    width: 100%;
    margin: 0 auto;
  }
}
