@import "../../assets/variables.scss";
$headerHeight: 50px;
$bodyHeight: calc(100vh - $headerHeight);

.rooms {
  background-color: $ghostwhite;
  .container {
    display: grid;
    grid-template-rows: $headerHeight auto;
    min-height: $bodyHeight;
    .list-column {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
