@import "./index.scss";

.user-search-dialog {
  .container {
    min-width: 310px;
    display: grid;
    grid-template-rows: 50px 50px 50px 100px;
    gap: 20px;
    text-align: center;
    h3 {
      grid-row: 1 / 2;
      padding-top: 20px;
      height: 30px;
      line-height: 30px;
    }
    .sex-row {
      grid-row: 2 / 3;
    }
    .era-row {
      grid-row: 3 / 4;
    }
    .button-row {
      grid-row: 4 / 5;
      p {
        margin-top: 5px;
        color: $fontColorGray;
        font-size: 12px;
      }
    }
  }
}
