@import "./index.scss";

.dialog-signup {
  form {
    background-color: red;
  }
  .MuiDialog-container {
    .MuiPaper-root {
      form {
        max-width: 300px;
      }
      button {
        background-color: red;
      }
    }
  }
}
