@import "../../index.scss";

.top {
  min-height: 100vh;
  background-color: $ghostwhite;
  padding: 0 10px;
  text-align: center;
  .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 180px 80px 400px;
    margin: 0 auto;
    max-width: 1000px;
    .logo-row {
      grid-row: 1;
      padding-top: 30px;
      img {
        max-width: 350px;
        width: 96%;
      }
    }
    .discription-row {
      grid-row: 2;
      color: gray;
    }
  }
}
