@import "./index.scss";

.room-body {
  background-color: $primaryLight;
  height: $bodyHeight;
  .container {
    margin: 0 auto;
    max-width: $pageMaxWidth;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: $ghostwhite;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
    }
    .room-message {
      padding: 5px;
      max-width: 60%;
      width: fit-content;
      border-radius: 7px;
    }
    .right {
      margin: 10px 15px 10px auto;
      background-color: $primary;
      position: relative;
      p {
        &::before {
          clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
          right: -8px;
          content: "";
          display: block;
          width: 10px;
          height: 8px;
          background-color: $primary;
          position: absolute;
        }
      }
    }
    .left {
      margin: 10px auto 10px 15px;
      background-color: $ghostwhite;
      position: relative;
      p {
        &::before {
          clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
          left: -8px;
          content: "";
          display: block;
          width: 10px;
          height: 8px;
          background-color: $ghostwhite;
          position: absolute;
        }
      }
    }
  }
}
