@import "../../assets/variables.scss";
$headerHeight: 50px;
$footerHeight: 60px;
$betweenFooterAndTextarea: 10px;
$bodyHeight: calc(
  100vh - ($headerHeight + $footerHeight + $betweenFooterAndTextarea)
);

.room {
  .header {
    height: $headerHeight;
    background-color: $ghostwhite;
    .container {
      display: grid;
      grid-template-columns: 50px 160px auto 50px 50px;
      grid-template-rows: 50px;
      max-width: 1000px;
      height: 100%;
      margin: 0 auto;
      .photo-column {
        grid-column: 1 / 2;
        padding: 5px 0 0 5px;
      }
      .name-column {
        grid-column: 2 / 3;
        line-height: 50px;
        font-size: 15px;
      }
      .phone-column {
        grid-column: 4 / 5;
      }
      .leave-column {
        grid-column: 5 / 6;
      }
    }
  }
  .body {
    height: $bodyHeight;
    background-color: $ghostwhite;
    .container {
      margin: 0 auto;
      max-width: 1000px;
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: $ghostwhite;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $Blue;
        border-radius: 10px;
      }
    }
  }
  .footer {
    height: $footerHeight;
    background-color: $Blue;
    padding-top: $betweenFooterAndTextarea;
    form {
      .container {
        display: grid;
        grid-template-columns: auto 50px;
        grid-template-rows: 50px;
        width: 98%;
        max-width: 1000px;
        background-color: $lightBlue;
        margin: 0 auto;
        border-radius: 5px;
        .input-column {
          grid-column: 1 / 2;
          padding: 5px;
          textarea {
            box-sizing: border-box;
            resize: none;
            height: 40px;
            width: 100%;
            padding: 7px;
            overflow: hidden;
            background: transparent;
            border: none;
            outline: none;
            font-size: large;
          }
        }
        .button-column {
          grid-column: 2 / 3;
        }
      }
    }
  }
}
