@import "../../assets/variables.scss";

.room-message {
  padding: 5px;
  // border: 2px solid $Blue;
  max-width: 60%;
  width: fit-content;
  border-radius: 7px;
}
.left {
  margin: 10px auto 10px 15px;
  background-color: $ghostwhite;
  position: relative;
  p {
    &::before {
      clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
      left: -8px;
      content: "";
      display: block;
      width: 10px;
      height: 8px;
      background-color: $ghostwhite;
      position: absolute;
      // top: 10px;
    }
  }
}
.right {
  margin: 10px 15px 10px auto;
  background-color: $Blue;
  position: relative;
  p {
    &::before {
      clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
      right: -8px;
      content: "";
      display: block;
      width: 10px;
      height: 8px;
      background-color: $Blue;
      position: absolute;
      // top: 10px;
    }
  }
}
