$pc: 1024px;
$tab: 680px;
$sp: 480px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin hover {
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

$fontColor: #263238;
$Blue: #b3e5fc;
$lightBlue: #e1f5fe;
$ghostwhite: #f8f8ff;
$white: white;

$pageMaxWidth: 1000px;
$headerHeight: 50px;
