$fontColor: #263238;
$fontColorLight: gray;
$fontColorRed: red;

$primary: #b3e5fc;
$primaryLight: #e1f5fe;
$ghostwhite: #f8f8ff;
$white: white;

$headerHeight: 50px;
$pageMaxWidth: 1000px;

@mixin pc {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin wideTab {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin tab {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin wideSp {
  @media (max-width: 690px) {
    @content;
  }
}
@mixin sp {
  @media (max-width: 479px) {
    @content;
  }
}

@mixin hover {
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

@font-face {
  font-family: "Noto Sans JP", sans-serif;
  src: url("/fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-display: swap;
  box-sizing: border-box;
  color: $fontColor;
}
