$fontColor: #263238;
$fontColorLight: gray;
$fontColorRed: red;

$primary: #b3e5fc;
$primaryLight: #e1f5fe;
$ghostwhite: #f8f8ff;
$white: white;

$headerHeight: 50px;
$pageMaxWidth: 1000px;

$pc: 1024px;
$tab: 768px;
$sp: 480px;

@mixin w1280 {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin w1024 {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin hover {
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

* {
  margin: 0;
  font-family: "Noto Sans JP";
  font-display: swap;
  box-sizing: border-box;
  color: $fontColor;
}
